{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block title %} Reserva {% endblock %}

{% block javascripts %}
    <script src="{{ asset('JSscripts/horas-reservadas.js') }}"></script>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.mesa) }}
    {{ form_row(form.fecha) }}
    {{ form_row(form.hora) }}
    <a href="{{ path('reserva_listar') }}" class="btn btn-secondary">Volver</a>
    <button class="btn btn-success">Reservar</button>
    {{ form_end(form) }}
{% endblock %}