{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}


{% block body %}
    <h1>Cambiar la contraseña de {{ user.userIdentifier }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {% if is_granted('ROLE_CAMARERO') %}
        <a href="{{ path('usuario_listar') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    {% else %}
        <a href="{{ path('app_portada') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    {% endif %}
    <button type="submit">Guardar</button>
    {{ form_end(form) }}
{% endblock %}
