<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage') }}">Restaurante</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item {{ app.request.attributes.get('_route') starts with 'plato' ? 'active' : '' }}">
                            <a class="nav-link" href="{{ path('plato_listar') }}">Platos</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_CAMARERO') %}
                        <li class="nav-item {{ app.request.attributes.get('_route') starts with 'mesa' ? 'active' : '' }}">
                            <a class="nav-link" href="{{ path('mesa_listar') }}">Mesas</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item {{ app.request.attributes.get('_route') starts with 'reserva' ? 'active' : '' }}">
                            <a class="nav-link" href="{{ path('reserva_listar') }}">Reservas</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item {{ app.request.attributes.get('_route') starts with 'usuario' ? 'active' : '' }}">
                            <a class="nav-link" href="{{ path('usuario_listar') }}">Usuarios</a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('usuario_detalle', {'id': app.user.id}) }}">
                                {{ app.user.userIdentifier }}
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ path('app_logout') }}">
                                <i class="fa-solid fa-power-off"></i> Exit
                            </a>
                        </li>
                    {% else %}
                        <li class="me-auto">
                            <a class="nav-link" href="{{ path('app_login') }}">
                                <i class="fa-solid fa-key"></i> Log in
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% for mensaje in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fa fa-check-circle"></i> {{ mensaje }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
        {% endfor %}
        {% for mensaje in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fa fa-circle-exclamation"></i> {{ mensaje }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
        {% endfor %}
    </div>
        {% block body %}{% endblock %}
    </body>
</html>
