{% extends 'base.html.twig' %}

{% block title %} Platos listados {% endblock %}



{% block body %}
    <div class="container mt-4">
        {% if is_granted('ROLE_CAMARERO') %}
            <div class="mt-4">
                <a href="{{ path('plato_nuevo') }}" class="btn btn-success">
                    <i class="fas fa-plus"></i> Añadir nuevo plato
                </a>
            </div><br/>
        {% endif %}
        <div class="row">
            {% for plato in platos %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        {% if plato.foto %}
                            <img src="{{ asset('images/platos/' ~ plato.foto ) }}" class="card-img-top" alt="{{ plato.nombre }}">
                        {% else %}
                            <img src="{{ asset('images/platos/default-plato.png') }}" class="card-img-top" alt="Imagen por defecto">
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ plato.nombre }}</h5>
                            <p class="card-text">{{ plato.descripcion }}</p>
                            <div class="mt-auto">
                                <a href="{{ path('plato_detalle', { id: plato.id }) }}" class="btn btn-primary btn-block">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}